Ivanov_NP_Cloud_Clients/Ivanov_NP_Cloud_Clients/Connected Services/ServiceReference1/Ivanov_NP_Cloud_Service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Ivanov_NP_Cloud_Service" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Ivanov_NP_Cloud_Service" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfFilesInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="FilesInfo" nillable="true" type="tns:FilesInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFilesInfo" nillable="true" type="tns:ArrayOfFilesInfo" />
  <xs:complexType name="FilesInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="FileFullName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FileIcon" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FileName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LastAccessTime" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Size" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FilesInfo" nillable="true" type="tns:FilesInfo" />
</xs:schema>